{% extends 'layout.html' %}

{% block title %} Home {% endblock %}
{%block style %}
<style>
	body{
		position: fixed;
		width: 86vw;
		height: 100vh;
		float: right;
		position: relative;	
		background: url(../static/images/back.jpg) no-repeat;
		background-size: cover;

	}
	
	}
	
</style>


 {% endblock %}


{% block body %}
 
<div class="fluid-container ">
	<!--right section-->
  <div class="m-1 p-1 content-wrapper img-fluid "  id="wrapper">
	  

   
  </div>
 



</div>
<script>


  
</script>


{% endblock %}